.flex-container {
    display: flex;
    background-color: black;
    justify-content: flex-start;
  }
  
  .flex-container > nav > div {
    background-color: rgb(0, 102, 255);
    margin: 30px;
    padding: 20px;
    font-size: 30px;
  }
.flex-container-bottom
{
    display: flex;
    background-color: black;
    justify-content: flex-end;
  }
  .flex-container-bottom> nav > div {
    background-color: rgb(0, 102, 255);
    margin: 30px;
    padding: 20px;
    font-size: 30px;

  }
